html {
    font-size: 62.5%;
}

.box,
img {
    width: 40rem;
    height: 24rem;
    background-color: teal;
    margin: 1em;
    display: inline-block
}

.linear-1 {
    background: repeating-linear-gradient(-30deg, rgba(245, 245, 220, 0.5), rgba(245, 245, 220, 0.5) 30px, rgba(235, 235, 190, 0.5) 30px, rgba(235, 235, 190, 0.5) 60px, rgba(235, 213, 154, 0.5) 60px, rgba(235, 213, 154, 0.5) 90px),
    repeating-linear-gradient(to right, rgba(245, 245, 220, 0.5), rgba(245, 245, 220, 0.5) 30px, rgba(235, 235, 190, 0.5) 30px, rgba(235, 235, 190, 0.5) 60px, rgba(235, 213, 154, 0.5) 60px, rgba(235, 213, 154, 0.7) 90px);
}
