body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font: 20px/2 "Arial";
    color: white;
}

img {
    max-width: 250px;
}

figcaption {
    background: rgba(54, 94, 201, 0.53);
    text-align: center;
    position: relative;
    bottom: 60px;
}
