.button {
    height: 28px;
    font: 13px YandexSans, Arial, Helvetica, sans-serif;
    line-height: 27px;
    cursor: pointer;
    background: #fff;
    background-clip: padding-box!important;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 3.1px;
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    color: #000!important;
    white-space: nowrap;
    outline: 0;
}

.head .log-in {
    vertical-align: middle;
}

.button_size_L {
    height: 32px;
    font-size: 15px;
    line-height: 30px;
}

.button_size_L .button__label {
    padding: 0 15px;
}

.button__label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    padding: 0 13px;
}

.article {
    
}


